@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.codigoVigente--body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  width: 1440px;
  height: 1024px;
}
.codigoVigente--body * {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.condigoVigente--nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 217, 71);
  width: 1060px;
  height: 90px;
  margin-bottom: 15px;
  padding: 0px 25px 0px 25px;
  border-radius: 5px;
}
.condigoVigente--nav h1 {
  font-size: 24px !important;
}
.codigoVigente--body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 1400px;
  height: 729px;
}
.codigoVigente--body h1 {
  font-size: 18px;
}

.codigoVigente--body input {
  border: 1px solid #d9d9d9;
}

.codigoVigente--body p {
  font-size: 16px;
  padding-bottom: 2px;
}

.codigoVigente--body button {
  font-size: 20px;
  font-weight: 700;
  background-color: #0d2339;
  color: rgb(255, 217, 71);
  width: 262px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  font-family: "Inter", sans-serif;
}

.codigoVigente--header {
  display: grid;
  width: 1400px;
}

.codigoVigente--section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 217, 71);
  height: 546px;
  width: 1110px;
  gap: 15px;
  border-radius: 5px;
}
.codigoVigente--section-container > section {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.codigoVigente--section-container__divContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.codigoVigente--section-container__container1 {
  justify-content: space-around;
  align-items: flex-start;
  width: 1050px;
  height: 120px;
  background-color: #f4f4f4;
  padding: 0px 10px 0px 10px;
  margin-top: 15px;
}
.codigoVigente--section-container__container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 510px;
  height: 186px;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}
.codigoVigente--section-container__container3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 510px;
  height: 120px;
  margin-top: 12px;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}
.codigoVigente--section-container__container4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 510px;
  height: 316px;
  background-color: #f4f4f4;
  padding: 0px 10px 0px 10px;
}
.main--input--small {
  width: 248px;
  height: 38px;
  border-radius: 5px;
}

.main--input--big {
  width: 508px;
  height: 38px;
  border-radius: 5px;
}
.main--input--nav {
  text-align: center;
  width: 528px;
  height: 48px;
  border-radius: 5px;
}
.codigoVigente--oroCassImage {
  width: 250px;
  height: 90.27px;
  margin-bottom: 30px;
}
.Container--left-button {
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 10px;
}
